/* Global clearing */
*,
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  /* border: 1px solid white; */
}
/* Global Variables */
:root {
  --light: #f7f7f7;
  --dark: #222222;
  --background-2: #f5f7f9;
  --homeBackground: #151a26;
  --gap-primary: 16px;
  --gap-secondary: 8px;
  --highlight-color: #01fb34;
  --gradient-color-2: #00a0f5;
  --gradient-color-3: rgb(243, 47, 184);
}
.container {
}

/* General body style */
body {
  background-color: var(--light);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Header and navigation */
header {
  background-color: var(--homeBackground);
  padding: var(--gap-primary) var(--gap-secondary);
  position: sticky;
  top: 0;
  z-index: 100;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 338px;
  color: var(--light);
  padding: var(--gap-primary) var(--gap-secondary);
}

.nav-menu > ul {
  display: flex;
  list-style: none;
  gap: 72px;
  margin: 0;
  padding: 0;
}

.nav-menu > ul > li {
  display: inline-block;
}

.nav-menu > ul > li > a {
  color: var(--light);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  position: relative; /* Posisi relatif untuk pseudo-element */
}

/* Underline effect on hover */
.nav-menu > ul > li > a::after {
  content: ""; /* Pseudo-element kosong untuk garis bawah */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--highlight-color); /* Warna garis bawah */
  transition: width 300ms ease-in-out; /* Transisi lebih halus */
}

.nav-menu > ul > li > a:hover::after {
  width: 100%; /* Garis bawah muncul dari kiri ke kanan saat hover */
}

/* Styling for the login button */
.nav-login > a {
  color: var(--light);
  border-radius: 45px;
  padding: var(--gap-secondary) var(--gap-primary);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  background-color: #252837;
  text-decoration: none;
  transition: background-color 500ms, color 500ms; /* Transisi warna yang lebih halus */
}

.nav-login > a:hover {
  background-color: var(--highlight-color);
  color: var(--dark);
}

/* Home section */
#home {
  background-color: var(--homeBackground);
  padding: var(--gap-primary) var(--gap-secondary);
  color: var(--light);
  height: 75vh;
}

.home-content {
  gap: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: var(--gap-primary) var(--gap-secondary);
}

.home-tittle {
  font-size: 48px;
  text-align: center;

  line-height: 70px;
  margin: 0 25%;
}

.home-description {
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  margin: 0 35%;
}

.home-button {
  padding: var(--gap-secondary) var(--gap-primary);
  border-radius: 45px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  background-color: var(--highlight-color);
  color: var(--dark);
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(252, 9, 9, 0.12) 0px -12px 30px, var(--highlight-color) 0px 4px 8px,
    var(--highlight-color) 0px 3px 3px 0px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: box-shadow 500ms ease, transform 300ms ease-in-out;
}

.home-button:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Highlights for specific elements */
#hero-home {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.home-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  translate: 0 -45%;
}
.home-image-2:hover {
  transform: scale(1.1);
}

.home-highlight {
  color: var(--highlight-color);
}
.home-highlight-knowledge {
  color: #00a0f5;
}

.home-highlight-join {
  color: rgb(243, 47, 184);
}

.home-footer {
  background-color: whitesmokey;
  gap: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  color: #a3a5a6;
  padding: var(--gap-primary) var(--gap-secondary);
  font-size: 16px;
}

.home-footer > img {
  width: 50%;
}

/* news Event */
.news-event {
  display: flex;
  flex-direction: column;

  background-color: var(--background-2);
  padding: 72px 128px;
  margin-bottom: 128px;
}
.cardEvents {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--light);
  padding: 18px;
  margin-top: 48px;
  border-radius: 32px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  width: 23%;
  size-adjust: 100%;
}
.grow-today {
  color: var(--gradient-color-2);
  font-size: 18px;
}
.news-event-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: var(--gap-primary) var(--gap-secondary);
}
.cardEvents-tittle {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}
.cardEvents-tittle > p {
  font-size: 22px;
  font-weight: 600;
}
.cardEvents > img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.cardEvents-tittle > a {
  text-decoration: none;
  background-color: var(--dark);
  color: var(--highlight-color);
  font-weight: 500;
  align-items: center;
  padding: 6px 18px;
  border-radius: 41px;
}
/* end news event */

/* home-footer */

.home-footer {
  background-color: #ffffff;
}
.home-footer-content {
  display: flex;
  justify-content: center;
  gap: 48px;
}
.home-footer-image {
  padding-left: 48px;
}
.home-footer-image > img {
  width: 720px;
  border-radius: 10px;
  object-fit: cover;
  translate: 0 -15%;
}
.home-footer-story {
  display: flex;
  flex-direction: column;
  padding-right: 48px;
  margin-left: 128px;
  gap: 16px;
}
.home-footer-story > div > h1 {
  font-size: 32px;
  font-weight: 600;
  text-align: start;
  color: var(--dark);
}
.home-footer-story > h2 {
  color: #00a0f5;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}
.home-footer-story > p {
  color: #a3a5a6;
  font-size: 16px;
  font-weight: 400;
  margin-right: 50%;
  margin-bottom: 16px;
}
.home-footer-story > a {
  text-decoration: none;
  background-color: var(--dark);
  color: var(--light);
  font-weight: 500;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 80%;
  padding: 8px 32px;
  border-radius: 41px;
}
.home-footer-story > a :hover {
  display: none;
}

/* end  home-footer */
